<h2 class="title">user profile</h2>
<form class="form" (submit.prevent)="onSubmit()">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>First name</mat-label>
    <input
      matInput
      placeholder="First name"
      [formField]="form.firstName"
      autofocus="false"
    />
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Last name</mat-label>
    <input
      matInput
      placeholder="Last name"
      [formField]="form.lastName"
      autofocus="false"
    />
  </mat-form-field>

  <div class="social">
    <h4 class="social-title">social links</h4>

    @let socialLinks = model().socialLinks;
    @if (socialLinks.length === 0) {
      <mat-error class="social-error">
        No social links yet! Please add a new link below
      </mat-error>
    } @else {
      @for (link of socialLinks; track $index) {
        <div class="row">
          <mat-form-field class="form-field m-r-8" appearance="outline">
            <input
              type="url"
              matInput
              [formField]="form.socialLinks[$index].url"
            />
          </mat-form-field>
          <mat-form-field class="form-field m-r-8" appearance="outline">
            <input
              type="text"
              matInput
              [formField]="form.socialLinks[$index].platform"
            />
          </mat-form-field>
          <mat-form-field class="form-field m-r-8" appearance="outline">
            <input
              type="number"
              matInput
              [formField]="form.socialLinks[$index].year"
            />
          </mat-form-field>

          <button
            matMiniFab
            aria-label="Remove social link"
            (click)="removeSocialLink($index)"
            class="button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <!-- errors block -->
        <div class="row column">
          @let platform = form.socialLinks[$index].platform();
          @if (platform.touched() && platform.invalid()) {
            @for (err of platform.errors(); track err.kind) {
              <mat-error class="error">{{ err.message }}</mat-error>
            }
          }

          @let url = form.socialLinks[$index].url();
          @if (url.touched() && url.invalid()) {
            @for (err of url.errors(); track err.kind) {
              <mat-error class="error">{{ err.message }}</mat-error>
            }
          }

          @let year = form.socialLinks[$index].year();
          @if (year.touched() && year.invalid()) {
            @for (err of year.errors(); track err.kind) {
              <mat-error class="error">{{ err.message }}</mat-error>
            }
          }
        </div>
      }
    }

    <div class="social-actions">
      <button matButton="outlined" type="button" (click)="addSocialLink()">
        Add social link
      </button>
    </div>
  </div>

  <div class="actions">
    <button
      matButton="outlined"
      type="submit"
      [disabled]="form().submitting() || form().invalid()"
    >
      save profile
    </button>
  </div>
</form>
