:host {
  display: block;
  margin-top: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: blueviolet;
}

.form {
  max-width: 800px;
  margin: auto;
  outline: 1px solid tomato;
  padding: 16px;
  border-radius: 4px;
}

.form-field {
  width: 100%;
}

.cancel {
  color: darkred;
}

.actions {
  padding: 30px 0 0;

  & button {
    width: 100%;
    text-transform: uppercase;
  }
}

.social {
  &-title {
    margin-bottom: 8px;
    text-transform: uppercase;
    color: darkolivegreen;
  }

  &-error {
    padding: 6px 12px;
    background-color: lightsalmon;
  }

  &-actions {
    padding: 16px 0;

    & button {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.error {
  background-color: lightcoral;
  padding: 6px 12px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.button {
  margin-top: 8px;
}
